.Authnav {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    display: flex;
    /* margin-left: 1.5%; */
    height: 80px;
}
.text {
    display: flex;
    height: 100px;
}
