.Authnav {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.navbar {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    display: flex;
    margin-left: 1.5%;
    height: 77.43px;
}
.logo {
    display: flex;
    height: 86.59px;
}
