body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
.Regmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 97%;
   
}
.backbtnmain{
    display: flex;
    justify-content: flex-start;
}
.backbtn{
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 59px;
    margin: 10px;
    background: linear-gradient(276deg, #5A8DEE 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    color: rgb(245, 242, 242);
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nobtn{
    opacity: 0;
    width: 150px;
}
.back{
    height: 26px;
    width: 28px;
    color: white;
}
.Regcont{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin: 25px 25px 0px 25px;
}
.regButton{
    display: flex;
    justify-content: flex-end;
   
}
.registerbtn{
    height: 50px;
    width: 280px;
    border: none;
    border-radius: 59px;
    margin: 10px;
    background: linear-gradient(276deg, #8183FF 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    color: black;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Qrcode{
    height: 30px;
    width: 30px;

}
.secondpart{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 96%;
    border-radius: 20px;
}
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 40px 0px 40px 0px;
    width: 98%;
    border: 2px solid #6265FF;
    border-radius: 20px;
}
.header{
    color: #7A7DFF;
    font-size: 30px;
    margin: 20px 10px 40px 10px;
}
.mainform{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin: 10px;
}
.formGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
.formGroup input{
    width: 440px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #6265FF;
    background-color: #f000;
    font-size: 20px;
    color: #8284FF;
    margin: 5px;
}
.formGroup label{
    font-size: 22px;
    color: #6265FF;
    width: 312px;
}
.Qrcode{
    height: 230px;
    width: 230px;
    margin: 0px 35px 0px 35px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 40%;
    gap: 50px;
    justify-content: center;
}
.btn1{
    width: 260px;
    height: 50px;
    margin: 15px 0px 15px 12px;
    border: none;
    border-radius: 59px;
    color: white;
    background: linear-gradient(276deg, #5A8DEE 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    cursor: pointer;
    font-size: 16px;
}
.btn2{
    width: 150px;
    height: 50px;
    margin: 15px;
    margin: 15px 0px 15px 0px;
    border: none;
    border-radius: 59px;
    color: white;
    background: linear-gradient(276deg, #5A8DEE 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    cursor: pointer;
    font-size: 16px;
}