.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 92%;
    margin: 10px auto;
    padding: 20px;
    background-color: #24242400;
    border: 2px solid #6265ff;
    border-radius: 10px;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}
.profileContainer p {
    font-size: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: #6e70b8;
}
.profileContainer p span {
    margin-left: 40px;
}

.qrContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

.qr {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #6265ff;
    /* margin-right: 40px; */
}

.qr img {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #24242400;
    object-fit: cover;
    opacity: 0.3;
    filter: blur(6px);
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    /* margin-right: 100px; */
}

.qr p {
    display: flex;
    width: 70%;
    position: relative;
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
    z-index: 1;
    line-height: 1.4;
}
.generateQR {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    align-items: center;
    text-align: center;
}
.printBtn {
    width: 110px;
    height: 45px;
    border-radius: 59px;
    color: white;
    background: linear-gradient(
        276deg,
        #5a8dee 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.signOutBtn {
    width: 110px;
    height: 45px;
    border-radius: 59px;
    border: none;
    cursor: pointer;
    background-color: #d9d9d9;
    color: black;
    font-size: 16px;
    margin-left: 40px;
}
/* Responsive design */

@media (max-width: 768px) {
    .profileContainer {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .profileContainer {
        margin: 10px auto;
        padding: 10px;
    }
}
