.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 92%;
    margin: 40px auto;
    padding: 20px;
    background-color: #24242400;
    border: 2px solid #6265ff;
    border-radius: 10px;
}
.profile {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 98%; */
}
/* .profileContainer p {
    font-size: 28px;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10px;
    place-items: start;
    color: #6e70b8;
    span {
        margin-left: 40px;
        width: 50%;
    }
} */
/* .details p {
    font-size: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 40% 50%;
    grid-gap: 10px;
    place-items: start;
    color: #6e70b8;
    span {
        margin-left: 40px;
        width: 50%;
    }
} */
/* .profileContainer p span {
    margin-left: 40px;
} */
.details {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    width: 30%;
    p {
        margin-bottom: 10px;
    }
}
.column2 {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    width: 50%;
    p {
        margin-bottom: 10px;
    }
}

.qr {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #6265ff;
    margin-right: 40px;
}

.qr img {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #24242400;
    object-fit: cover;
    opacity: 0.4;
    filter: blur(4px);
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
}

.qr p {
    display: flex;
    width: 70%;
    position: relative;
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
    z-index: 1;
    line-height: 1.4;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    align-items: center;
    text-align: center;
}
.printBtn {
    width: 110px;
    height: 45px;
    border-radius: 59px;
    color: white;
    background: linear-gradient(
        276deg,
        #5a8dee 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.signOutBtn {
    width: 110px;
    height: 45px;
    border-radius: 59px;
    border: none;
    cursor: pointer;
    background-color: #d9d9d9;
    color: black;
    font-size: 16px;
    margin-left: -40px;
}
/* Responsive design */

@media (max-width: 768px) {
    .profileContainer {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .profileContainer {
        margin: 10px auto;
        padding: 10px;
    }
}
