body {
    margin: 0;
    padding: 0;
}
.Maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}
.heading {
    color: #000;
    font-family: Roboto;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
}
.LoginContainer {
    display: flex;
    flex-direction: column;
    width: 38rem;
    height: 32rem;
    flex-shrink: 0;
    border-radius: 30px;
    backdrop-filter: blur(102px);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.ptxt {
    color: #a0a0a0;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    a {
        color: #0b59d5;
        text-decoration: none;
    }
}
.test {
    margin-top: -1rem;
    color: #929292;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .star {
        color: rgba(255, 0, 0, 0.8);
    }
    .highlight {
        color: #5a8dee;
        cursor: pointer;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formgroup {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 70px;
    margin: 2px;

    input {
        width: 100%;
        color: #969696;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        border-radius: 10px;
        border: 1.2px solid #b5b5b5;
        padding: 15px;
        background-color: #f000;
    }
    input:focus {
        outline: none;
    }
}

.btn {
    width: 385px;
    height: 50px;
    border: none;
    margin: 7px 0px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: white;
    border-radius: 10.162px;
    background: linear-gradient(
        276deg,
        #5a8dee 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
}
.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #929292;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0;

    img {
        width: 20px;
        padding: 1px;
    }
    .highlight {
        color: #5a8dee;
    }
}

.appdownload {
    position: fixed;
    bottom: -0.5rem;
    right: 0rem;
    z-index: 1000;
}

.login_app_download {
    width: 25rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login_app_download:hover {
    transform: scale(1.05);
}
