body {
    margin: 0;
    padding: 0;
}

.regtxt {
    color: #000;
    font-family: "DM Serif Display";
    font-size: 47.29px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
}

.ptxt {
    color: #a0a0a0;
    font-size: 22.872px;
    font-style: regular;
    font-weight: 400;
    line-height: normal;
}
.Maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
.Maincontent h1,
.Maincontent p {
    margin: 0;
    padding: 0;
}
.Maincontent h1 {
    color: black;
}
.Maincontent p {
    color: #a0a0a0;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.formgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    input {
        width: 100%;
        border-radius: 10px;
        border: 1.2px solid #b5b5b5;
        color: #6e6e6e;
        padding: 15px;
        margin: 10px 10px 11px 35px;
        background-color: #f000;
        font-size: 20px;
        font-style: italic;
    }
    input:focus {
        outline: none;
    }
}
.button {
    width: 300px;
    height: 50px;
    border: none;
    margin: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 10.162px;
    background: linear-gradient(
        276deg,
        #5a8dee 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
}
.warning p {
    color: #b5b5b5;
}
.warning a {
    color: #0b59d5;
    text-decoration: none;
}
.generate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.generate h2 {
    color: #a0a0a0;
}
.generate p {
    color: #a0a0a0;
    span {
        color: red;
    }
}
