body {
    margin: 0;
    padding: 0;
}
.bookDatabase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* margin: 20px; */
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    width: 96.5%;
}
.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 98%;
    margin: 0px 10px 10px 10px;
}

.searchIcon {
    position: absolute;
    left: 25px;
    height: 23px;
    width: 23px;
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.search {
    
    width: 100%;
    height: 61px;
    padding: 8px 12px 10px 60px;
    font-size: 20px;
    border: 1px solid #627eff;
    border-radius: 59px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.40);
    color: #636363;
}

.searchbtn {
    height: 61px;
    width: 170px;
    border: none;
    border-radius: 59px;
    margin: 10px;
    color: white;
    background: linear-gradient(
        276deg,
        #5a8dee 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
    cursor: pointer;
    font-size: 20px;
}
.registerbtn {
    height: 61px;
    width: 400px;
    border: none;
    border-radius: 59px;
    margin-left: 10px;
    background: linear-gradient(
        276deg,
        #8183ff 75.7%,
        rgba(255, 255, 255, 0.15) 180.24%
    );
    color: black;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Qrcode {
    height: 36px;
    width: 36px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    
}

.bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 14px;

}
.details1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    

}

.details1 span{
    font-size: 18px;
    font-weight: bold;
    color: #6E70B8;
    width: 55%;
     flex-wrap: wrap;
}
.details1 p{
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
     width: 100%;
     color: #6265ff;
     font-size: 15px;
     margin-top: 0px;
       
}
.bookQr{
    position: relative;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px;
    border: 2px solid #6265ff;
}
.bookQr img{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #24242400;
    object-fit: cover;
    opacity: 0.4;
    filter: blur(4px);
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
}
.bookQr p{
    display: flex;
    position: relative;
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
    z-index: 1;
    line-height: 1.4;
}
.DetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bookCard{
    border: 2px solid #6265ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.bookImg img{
    height: 230px;
    width: 175px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    

}
.description p{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 16px;
    color: #6265ff;
    margin-top: 0px;
    
}
 


/* .bookDatabase {
    flex: 1;
} */
