body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(180deg, #C8C8FF, #FFFFFF);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.bookDatabase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 20px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
   
}
.searchContainer {
    position: relative; 
    display: flex;
    align-items: center;
    width: 55%; 
    margin: 10px;
}
.search{
    
    width: 736px;
    height: 61px; 
    padding: 8px 12px 8px 36px; 
    font-size: 24px; 
    border: 1px solid #627EFF; 
    border-radius: 59px; 
    outline: none; 
    transition: border-color 0.2s ease-in-out; 
}
.searchIcon{
    position: absolute;
    left: 10px; 
    height: 23px;
    width: 23px;
    color: #888; 
    font-size: 18px; 
    pointer-events: none; 
}

.searchbtn{
    height: 61px;
    width: 170px;
    border: none;
    border-radius: 59px;
    margin: 10px;
    color: white;
    background: linear-gradient(276deg, #5A8DEE 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    cursor: pointer;
    font-size: 25px;
}
.registerbtn{
    height: 61px;
    width: 365px;
    border: none;
    border-radius: 59px;
    margin: 10px;
    background: linear-gradient(276deg, #8183FF 75.7%, rgba(255, 255, 255, 0.15) 180.24%);
    color: black;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Qrcode{
    height: 36px;
    width: 36px;

}
.mainContainer{
    width: 98%;
    height: 300px;
    border: 2px solid #6265FF;
    border-radius: 20px;
    margin: 50px 0px 40px 0px;

}
